QMainWindow {
    background:#000;
}
QWidget {
    color: #fff;
}
/* widgets */
QPushButton, QLineEdit {
    color:#fff;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.9);
    padding: 5px 10px;
    border-radius: 5px;
}
QPushButton:hover {
    background: ACCENT;
    color: #fff;
}
QSlider::groove:horizontal {
    height: 6px;
    background: rgba(127, 127, 127, 0.2);
    margin: 0 0;
}
QSlider::sub-page:horizontal {
    background: ACCENT;
    border-radius: 4px;
}
QSlider::handle:horizontal {
    background: ACCENTDEEP;
    width: 6px;
}
QScrollArea{
    border:0 none;
}
QScrollArea { background: transparent; }
QScrollArea > QWidget > QWidget { background: transparent; }
QScrollArea > QWidget > QScrollBar { background: #fff; }
QScrollBar{
    background: transparent;
    width: 8px;
}
QScrollBar::add-line, QScrollBar::sub-line {
    background: rgba(0,0,0,0.2);
}
QScrollBar::handle {
    background:ACCENT;
    min-height: 20px;
}
QTableWidget{
    background-color: rgba(0,0,0,0.0);
    alternate-background-color: rgba(0,0,0,0.1);
    border: 0 none;
}
QHeaderView{
    background:transparent
}
QHeaderView::section, QHeaderView::section:last:hover {
    /* background: ACCENTMID; */
    background: transparent;
}
QHeaderView::section {
    font-weight: bold;
    border: 0 none;
    color: #ffffff;
    padding: 5px;
    height: 25px;
    min-width: 50px;
}
QHeaderView::section:hover, ::item:selected{
    background: ACCENTDEEP;
    color: #fff;
}
::item:hover {
    background: ACCENT;
    color: #fff;
}
/* main mode */
.main-mode QSlider, .micro-mode QSlider{
    margin-top:-7px;
}
#album-label {
    font-size: 16px;
    margin-bottom: 5px;
}
#artist-label {
    font-size: 12px;
    margin-bottom: 15px;
}
.micro-mode #artist-label {
    font-size: 12px;
}
.widget-mode .buttons-widget {
    background: transparent;
}
.buttons-widget QPushButton {
    width: 24px;
    height: 24px;
    qproperty-iconSize: 24px;
    border: 0 none;
    background: transparent;
    padding: 0;
}
#volume-slider {
    max-width: 100px;
    min-width: 100px;
}
/* media player */
#media-player-menu QPushButton {
    width: 32px;
    height: 32px;
    qproperty-iconSize: 32px;
    border: 0 none;
    border-radius: 0;
    padding: 10px;
}
#media-player-menu *, #media-player-menu QPushButton{
    background: transparent;
}
#media-player-menu QPushButton:hover {
background: #dae6ee;
}
.widget-mode #album-label {
    font-size: 8px;
    height: 10px;
}
.widget-mode QPushButton {
    padding: 0 5px;
}
/* playing album view */
.album-label { font-size: 24px; }
.artist-label { font-size: 16px; }
.media-box QLabel{
    padding: 5px;
}
.media-box QLabel:hover {
    background: ACCENT;
    color: #fff;
}
.media-box QLabel.active {
    background: ACCENTDEEP;
    color: #fff;
}
#window-decorations QPushButton {
    background: transparent;
    border: 0 none;
}
