QMainWindow {
    background: #51555a;
}
QWidget {
    color: #fff;
}
/* widgets */
QPushButton, QLineEdit, QHeaderView {
    color: rgb(153, 170, 181);
}
QLineEdit, QPushButton {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    border-radius: 5px;
}
QPushButton:hover {
    background: #9fabb3;
    color: #fff;
}
QSlider::groove:horizontal {
    height: 6px;
    background: rgba(0, 0, 0, 0.2);
    margin: 0 0;
}
QSlider::sub-page:horizontal {
    background: #9fabb3;
    border-radius: 4px;
}
QSlider::handle:horizontal {
    background: #778791;
    width: 6px;
}
QScrollArea{
    border:0 none;
}
QScrollArea { background: transparent; }
QScrollArea > QWidget > QWidget { background: transparent; }
QScrollArea > QWidget > QScrollBar { background: transparent; }
QScrollBar{
    background: transparent;
    width: 8px;
}
QScrollBar::handle {
    background:#9fabb3;
}
QTableWidget{
    background: rgba(0,0,0,0.2);
    alternate-background-color: rgba(0,0,0,0.1);
    border: 0 none;
}
QHeaderView::section, QHeaderView::section:last:hover {
    background: rgba(0,0,0,0.4);
    color: #fff;
    border: 0 none;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    padding: 5px;
}
QHeaderView::section:hover, ::item:selected{
    background: #778791;
    color: #fff;
}
::item:hover {
    background: #9fabb3;
    color: #fff;
}
/* main mode */
.main-mode QSlider, .micro-mode QSlider{
    margin-top:-7px;
}
#cover-label {
    background: #000;
}
#album-label {
    font-size: 16px;
    margin-bottom: 5px;
}
#artist-label {
    font-size: 12px;
    margin-bottom: 15px;
}
.micro-mode #artist-label {
    font-size: 12px;
}
.buttons-widget QPushButton {
    width: 24px;
    height: 24px;
    qproperty-iconSize: 24px;
    border: 0 none;
    background: transparent;
    padding: 0;
}
#volume-slider {
    max-width: 100%;
}
/* media player */
#media-player-menu QPushButton {
    width: 32px;
    height: 32px;
    qproperty-iconSize: 32px;
    border: 0 none;
    border-radius: 0;
    padding: 10px;
}
#media-player-menu *, #media-player-menu QPushButton{
    background: rgba(0,0,0,0.1);
}
#media-player-menu QPushButton:hover {
background: #dae6ee;
}
.widget-mode >* {
    background: rgba(0,0,0,0.1);
    padding: 10px 5px;
}
.widget-mode QLabel {
    padding-top: 15px;
    padding-bottom: 0;
}
.widget-mode QPushButton {
    padding-top: 0;
    padding: 10px 5px;
}
/* playing album view */
.album-label { font-size: 24px; }
.artist-label { font-size: 16px; }
.media-box QLabel{
    padding: 5px;
}
.media-box QLabel:hover, .media-box QLabel.active {
    background: #9fabb3;
    color: #fff;
}
